.card-title-header {
  text-align: left;
  margin: 0px 10px;
}

.top-span {
  float: right;
  margin-right: 10px;
}
.bench-pkmn-img {
  height: 15vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.handSpot {
  width: 14.2%;
}
